h1{
    background-color:cornflowerblue;
    border-bottom : 5px solid blue;
}

h2{
    background:linear-gradient(0.25turn,rgb(38, 196, 228),white);
}

a:link{
    color:darkslateblue;
}

a:visited{
    color:blue;
}

a:hover{
    color:chartreuse
}