p#pstrong{
    border-top: 10px dashed navy
}
h2#size{ 
    color: red;
    border-bottom:10px dotted yellow ;
}
strong#pstrong{
    color: blue;
    border-bottom: 10px solid cyan;
}
p#kensakukekka{
    color: #375e97;
    font-size: 2em;
    border-bottom:1px solid #375e97;
}